html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
	height: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #ababab;
}
button {
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  @include f400;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  font-size: 30px;
  color: $title;
  padding: 0px 30px;
  background-color:#fff;
}
.tags {
  color: #868c96;
  background-color: #f1f3f6;
  padding: 7px 14px;
  border-radius: 28px;
}
button {
  cursor: pointer;
  border: none;
}
