@import 'vars';
@import 'global';
@import 'fonts';

// header start ==========================================================================================
.header__top, .featured-product
 {
  background-color: $bg;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.header__box {
  display: flex;
}
.header__btn {
  margin-right: 215px;
  background-color: #0674ec;
  padding: 11px 18px;
  border-radius: 30px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  a {
    color: #fff; 
    font-size: 14px;
  }
}
.user__logo {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user__name a {
  color: #333;
  font-weight: 500;
}
.user__cash {
  color: $search;
}
.menu {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  &__list {
    text-transform: uppercase;
  }
  ul {
    display: flex;
  }
  li {
    margin-right: 30px;
  }
  a {
    color: #333;
    font-size: 15px;
    font-weight: 500;
  }
}
.header__search {
  position: relative;
  max-width: 360px;
    width: 100%;
    display: block;
  input {
    max-width: 360px;
    width: 100%;
    height: 46px;
    border-radius: 30px;
    padding: 0 90px 0 30px;
    border: 1px solid $border;
    font-size: 15px;
  }
  button {
    position: absolute;
    content: '';
    height: 46px;
    width: 70px;
    top: 0;
    right: 0;
    border-radius: 30px;
    border: none;
    background-color: $search;
    color: #fff;
    font-size: 15px;
    img {
      width: 20px;
      height: 19px;
    }
  }
}
// header end ==========================================================================================


// search start ==========================================================================================
.search {
  position: relative;
  &__info {
    background-image: -moz-linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
    height: 725px;
  }
  &__inner {
    padding-top: 150px;
    text-align: center;
    color: #fff;
    font-size: 60px;
    line-height: 70px;
   }
   &__title {
      margin: 0 auto;
      max-width: 820px;
      font-size: 60px;
      line-height: 70px;
      font-weight: 400;
      span {
      display: block;
      margin-top: 15px;
      font-weight: 700;
      }
    }
    &__text {
      font-size: 20px;
      line-height: 24px;
      margin-top: 50px;
      margin-bottom: 70px;
    }
    &__btn {
      display: flex;
      justify-content: center;
      &-popular {
        margin-left: 30px;
      }
      a {
        display: flex;
        font-size: 16px;
        line-height: 16px;
        border: 1px solid #fff;
        border-radius: 23px;
        padding: 20px 30px;
        color: #fff;
        &:hover {
        background-color: #fff;
        color: #0674ec;
        transition: all .3s;
        }
      }
    }
  }
.search__form {
  position: absolute;
  bottom: -9%;
  height: 135px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  display: flex;
  align-items: center;
  color: #676767;
  border-radius: 6px;
  padding: 40px;
  z-index: 10;
  width: 100%;
  max-width: 1140px;
  &-product {
    max-width: 615px;
    width: 100%;
    input {
      border: 1px solid #dcdcdc;
      font-size: 16px;
      border-radius: 4px 0 0 4px;
      height: 55px;
      max-width: 615px;
      width: 100%;
      padding: 0 30px;
      color: #676767;
      }
    }
    &-categories {
      display: flex;
      align-items: center;
      width: 195px;
      height: 55px;
      border: 1px solid #dcdcdc;
      border-left: none;
      border-radius: 0 4px 4px 0;
      color: #555;
      font-size: 16px;
      padding: 0 50px 0 20px;
      position: relative;
    }
    &-categories a:after {
      position: absolute;
      content: '';
      background-image: url(../images/icons/arrow-down.png);
      width: 13px;
      height: 8px;
      right: 20px;
      top: 24px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    button {
      margin-left: 30px;
      height: 55px;
      width: 225px;
      background-color: $search;
      color: #fff;
      font-size: 16px;
      border-radius: 4px;
    }
}
.shadow-box2, 
.shadow-box1 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 57px;
  height: 40px;
  width: 1080px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9;
}
.shadow-box2 {
  bottom: 58px;
  height: 26px;
  width: 1110px;
  z-index: 8;
}
// search end ==========================================================================================

// features start ==========================================================================================
.features__items {
  height: 710px;
  padding: 185px 0 120px;
  display: flex;
  justify-content: space-between;
}
.features__item {
  max-width: 360px;
  height: 405px;
  text-align: center;
  padding: 40px 30px 50px;
  transition: all .3s;
  &-img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    margin: 0 auto;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-title {
    padding: 35px 0 30px;
    font-size: 24px;
    color: #000;
  }
  &-text {
    width: 300px;
    margin: 0 auto;
    color: $text;
    line-height: 30px;
  }
  &:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
}
// features==========================================================================================

.featured-product,
.followers-feed,
.news {
  padding: 120px 0;
  background-color: #eff1f5;
}

.product-slider__inner {
  background-color: #fff;
  margin-top: 50px;
  max-height: 450px; 
}
.product__item-box {
  width: 555px;
  height: 450px;
  img {
  width: 555px;
  height: 450px;
  display: inline-block;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  }
}
.product__items {
  display: flex !important;
}
.product__item,
.release__item {
  &-box {
    position: relative;
    max-height: 450px;
  }
  &-content{
    padding: 50px 50px 20px 50px;
  }
  &-name {
    font-size: 20px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
  }
  &-info {
    display: flex;
    align-items: center;
    padding: 15px 15px 20px 0px;
  }
  &-author {
    align-items: center;
    height: 30px;
    display: flex;
    font-size: 15px;
    line-height: 30px;
    .avatar {
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      margin-right: 10px;
    }
  }
  &-category {
    color: #7347c1;
    .icon-category {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      margin: 0 10px 0 20px;
    }
  }
  &-text {
    color: $text;
    line-height: 30px;
  }
  &-tags {
    margin-left: 7px;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ececec;
  }
  &-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-inner {
    display: flex;
    align-items: center;
    font-size: 15px;
    // margin-top: 20px;
  }
  &-price {
    text-align: center;
    line-height: 31px;
    width: 100px;
    height: 32px;
    background-color: $search;
    color: #fff;
    border-radius: 32px;
  }
  &-like {
    margin-left: 45px;
    color: $text;
    position: relative;
  }
  &-like::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/heart.png);
    width: 16px;
    height: 14px;
    left: -22px;
    top: 5px;
  }
  &-basket {
    margin-left: 40px;
    color: $search;
    position: relative;
  }
  &-basket::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/cart.png);
    width: 14px;
    height: 14px;
    left: -22px;
    top: 4px;
  }
}
.slider__item {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  height: 110px;
  &-button {
    width: 110px;
    height: 45px;
    border-radius: 45px;
    background-color: #7347c1;
  }
}
.slick-prev::before, 
.slick-next::before {
  content: '';
}
.slick-prev, .slick-next {
  top: -107px;
  width: 8px;
  height: 13px;
}
.slick-prev {
  left: 1028px;
}
.slick-next {
  right: 57px;
}
.product__item-link,
.release__item-link  {
  position: absolute;  
  opacity: 0;
}
.product__item-link a,
.release__item-link a {
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  width: 130px;
  height: 45px;
  border-radius: 34px;
  border: 1px solid #fff;
  margin: 0 10px;
  display: flex;
}
.product__item-box:hover .product__item-link,
.release__item-box:hover .release__item-link {
  width: 555px;
  height: 450px;
  top: 0;
  left: 0;
  background-image: -moz-linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  overflow: visible;
}
.product__item-link a:hover,
.release__item-link a:hover{
  background-color: #fff;
  color: #0674ec;
  transition: all .5s;
}
.release__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.release__drop-down {
  position: relative;
  margin-right: 25px;
}
.release__drop-down a {
  font-size: 16px;
  color: #747b86;
}
.drop-down__list {
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  width: 180px;
  background-color: #fff;
  padding: 20px 10px 15px 20px;
  z-index: 1;
  right: -14px;
  top: 50px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  border-radius: 3px;
}
.drop-down__list a {
  padding: 2px;
  font-weight: 400;
  display: block;
  text-transform: none;
}
.drop-down__list a:hover {
  color: $search;
}
.release__drop-down .drop-down__list li {
  margin-left: 0;
  display: block;
} 
.release__drop-down > a {
  position: relative;
  padding-left: 10px;
  padding-right: 26px;
}
.release__drop-down > a::after {
  content: "";
  position: absolute;
  background-image: url(../images/icons/drop-down.svg);
  width: 5px;
  height: 20px;
  margin-left: 20px;
  top: 2px;
}
.release__drop-down.drop-down:hover .drop-down__list {
  height: auto;
  overflow: visible;
  opacity: 1;  
  transition: all .3s;
}
.release__drop-down.drop-down:hover > a {
  transition: all .3s; 
}
.release__product {
  background-color: #f6f7fb;
  padding: 120px 0;
  &-menu {
    display: flex;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108,111,115,.1);
    height: 110px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 4px;
  }
}
.release__item-btn {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-around;
  height: 90px;
  box-shadow: 0px 2px 4px 0px rgba(108,111,115,.1);
  margin-bottom: 50px;
  border-radius: 4px;
  button {
  color: #868c96;
  background-color: #f1f3f6;
  padding: 7px 14px;
  border-radius: 28px;
  font-size: 15px;
    &.mixitup-control-active {
      background-color: $search; 
      color: #fff;
    }
  }
}
.release__item {
  max-width: 360px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  margin-bottom: 30px;
  &-box {
    position: relative;
  }
  &-box img {
    width: 360px;
    height: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-info {
    margin-bottom: 15px;
  }
  &-content {
    padding: 20px 25px 15px 25px;
  }
  &-text {
    width: 300px;
    margin-bottom: 18px;
  }
  &-price {
    width: 60px;
    height: 30px;
    background-color: #e6f1fd;
    color: $search;
    text-align: center;
    line-height: 29px;
  }
  &-data {
    border-top: 1px solid #ececec;
    padding: 20px 30px;
  }
}
.release__item-box:hover .release__item-link {
  width: 360px;
  height: 230px;
}
.release__bottom-btn,
.clients__bottom-btn {
  margin-top: 60px;
  justify-content: center;
  display: flex;
  button {
  width: 190px;
  height: 55px;
  border-radius: 30px;
  font-size: 16px;
  text-align: center;
  background-color: $search;
  color: #fff;
  }
  button:hover {
    color: red;
  }
}
.followers-slider__inner {
  margin-top: 50px;
}
.followers__items .slick-slide {
  max-width: 360px;
}
.release__item  .slick-track div + div {
  margin-left: 30px;
}
.fun {
  background-color: rgba(33, 34, 37, 0.8);
  padding: 95px 0;
}
.fun__items {
  display: flex;
  justify-content: space-between;
}
.fun__item {
  width: 160px;
  height: 165px;
  align-items: center;
  text-align: center;
  line-height: 36px;
  &-img {
    height: 41px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-title {
    padding: 35px 0 10px;
    font-size: 36px;
  }
  &-text {
    font-size: 18px;
    color: #fff;
  }
}
.item-1 {
  color: #feb71d;
}
.item-2 {
  color: #58c9e9;
}
.item-3 {
  color: #77de51;
}
.item-4 {
  color: #ff6a6d;
}
.benefits {
  padding: 110px 0 95px;
}
.benefits__top,
.clients__top,
.news__top {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  &-title {
    font-size: 36px;
    font-weight: 400;
    line-height: 28px;
    span {
      color: $search;
    }
  }
  &-text {
    color: $text;
    line-height: 30px;
    font-size: 16px;
    margin: 30px 0 60px;
  }
}
.benefits__items {
  margin-top: 50px; 
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.benefits__item {
  &-box {
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    width: 360px;
    height: 375px;
    align-items: center;
    text-align: center;
    padding: 55px 15px;
    position: relative;
    margin-bottom: 30px;
  }
  &-number {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 48px;
    color: rgba(92, 135, 238, 0.2);
  }
  &-title {
    margin: 45px 0 25px;
    font-size: 24px;
  }
  &-text {
    width: 290px;
    height: 120px;
    font-size: 16px;
    line-height: 30px;
    color: $text;
    margin: 0 auto;
  }
}
.shopping {
  display: flex;
}
.sell__box,
.buy__box{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  width: 50%;
  padding: 100px;
  text-align: center;
  font-size: 16px;
  &-title {
    font-size: 36px;
    padding: 40px 0 30px;
  }
  &-text {
    max-width: 590px;
    margin: 0 auto;
    margin-bottom: 45px;
  }
  button {
    width: 190px;
    height: 55px;
    border-radius: 27px;
    color: $search;
    font-size: 16px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
  }
  button:hover {
    background-color: $search;
    color: #fff;
  }
}
.clients {
  padding: 120px 0;
}
.reviews__items {
  display: flex;
  justify-content: space-between;
}
.reviews__item {
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border-left: 1px solid $search;
  max-width: 555px;
  padding: 55px 35px 45px;
  color: $text; 
  &-user {
    display: flex;
    position: relative;
  }
  &-user::after {
    position: absolute;
    content: "";
    background-image: url(../images/icons/bubble.png);
    width: 57px;
    height: 51px;
    right: 5px;
    top: 7px;
  }
  &-avatar img {
    margin-left: 80px;
    height: 80px;
    border-radius: 50%;
  }
  &-info {
    margin-left: 15px;
  }
  &-name {
    font-weight: 400;
    padding-top: 10px;
    font-size: 20px;
    color: #000;
  }
  &-status {
    padding-top: 10px;
    font-size: 16px;
  }
  &-text {
    padding-top: 15px;
    line-height: 30px;
  }
}
.news {
  background-color: #eef0f4;
}
.news__items {
  display: flex;
  justify-content: space-between;
}
.news__item {
  width: 365px;
  height: 465px;
  border-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  &-box img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 365px;
    height: 230px;
    border-radius: 4px 4px 0 0;
  }
  &-content {
    color: $text;
    padding: 25px;
    border-bottom: 1px solid #ececec;  
  }
  &-title {
    font-size: 22px;
    margin-bottom: 15px;
    color: #000;
  }
  &-text {
    width: 300px;
  }
  &-bottom, 
  &-info a{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
    color: #999;
  }
  &-data {
    width: 50%;
    padding: 20px 20px 20px 50px  ;
    position: relative;
  }
  &-data:after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
    border-right: 1px solid #ececec;
  }
  &-data::before {
    content: '';
    position: absolute;
    left: 30px;
    top: 24px;
    background-image: url(../images/icons/clock.png);
    width: 16px;
    height: 15px;
  }
  &-info   {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 55px;
  }
  &-comments,
  &-views {
    position: relative;
  }
  &-comments::before,
  &-views::before {
    position: absolute;
    content: '';
    width: 16px;
    left: -22px;
  }
  &-comments::before {
    background-image: url(../images/icons/bubble-mini.png);
    height: 14px;
    top: 5px;
  }
   &-views::before {
    background-image: url(../images/icons/eye.png);
    height: 9px;
    top: 7px;
  }
}
.backinfo-box {
  display: flex;
  justify-content: space-around;
  height: 300px;
}
.cashback,
.support {
  width: 50%;
  padding: 60px 0;
  text-align: center;
  &-text {
    font-size: 24px;
    margin-top: 25px;
  }
}
.cashback span a{
  color: $search;
}
.support span a{
  color: #7347c1;
}
.cashback {
  position: relative;
  border-right: 1px solid #eef0f4;
}
.banner {
  
  padding: 110px 0;
  background: -moz-linear-gradient(180deg, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
  text-align: center;
  color: #fff;
  height: 400px;
  &-title {
    font-size: 36px;
    line-height: 50px;
  }
  &-text {
    font-size: 18px;
    padding: 25px 0 50px;
    color: #e7e7e7;
  }
  button {
    color: $search;
    font-size: 16px;
    width: 190px;
    height: 55px;
    border-radius: 30px;
  }
  button:hover {
    color: red;
    transform: translate(1px, 1px);
  }
}
.footer__copy {
  background-color: #192027;
  font-size: 15px;
  text-align: center;
  padding: 27px 0 30px;
  color: #999999;
  a {
    color: #fff;
  }
}
.footer__content {
  background-color: #262b30;
  height: 525px;
  padding: 110px 0;
}
.footer__items {
  display: flex;
  justify-content: space-between;
  color: #ababab;
}
.footer__item {
  width: 160px;
  &-direction {
    width: 290px;
  }
  &-title {
    margin-bottom: 30px;
    font-size: 18px;
    color: #fff;
  }
  &-logo {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    padding-left: 50px;
    span {
      color: $search;
    }
  }
  &-logo:after {
    position: absolute;
    content: '';
    background-image: url(../images/icons/Logo.png);
    width: 40px;
    height: 40px;
    left: 0;
    top: -9px;
  }
  &-text {
    line-height: 28px;
    margin-bottom: 25px;
  }
  li {
    margin-bottom: 15px;
  }
  &-contact {
    padding-left: 30px;
  }
  &-tel,
  &-email, 
  &-adres {
    position: relative;
  }
  &-tel::after,
  &-email::after,
  &-adres::after {
    position: absolute;
    content: '';
    width: 17px;
    top: 3px;
    left: -25px;
  }
  &-tel::after {
    background-image: url(../images/icons/phone.png);
    height: 17px;
  }
  &-email::after {
    background-image: url(../images/icons/email.png);
    height: 11px;
    top: 8px;
  }
  &-adres::after {
    background-image: url(../images/icons/map-marker.png);
    width: 10px;
    height: 17px;
    top: 13px;
    left: -23px;
  }
  &-social {
    max-width: 380px;
    width: 100%;
  }
}
.footer__search {
  position: relative;
  margin-bottom: 48px;
  input {
    max-width: 360px;
    width: 100%;
    display: block;
    height: 50px;
    border-radius: 30px;
    padding: 0 120px 0 30px;
  }
  button {
    position: absolute;
    content: '';
    top: 0;
    right: 19px;
    height: 50px;
    border-radius: 30px;
    width: 110px;
    background-color: $search;
    color: #fff;
    font-size: 15px;
  }
}
.footer__social {
  display: flex;
  li {
    margin-left: 12px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: relative;
  }
}
//==================CATEGORY-PAGE=================================
.category__search {
  .search__info {
    background-image: -moz-linear-gradient( 180deg, rgb(13,62,242) 0%, rgb(45,47,199) 46%, rgb(76,31,156) 100%);
    max-height: 280px;
    // padding: 80px 0 30px;
  }
  .search__inner {
    padding-top: 80px;
  }
  .search__text {
    font-size: 26px;
    margin: 0;
    margin-bottom: 30px;
    span {
      @include f500;
    }
  }
  .search__inner-form {
    margin: 0 auto;
    max-width: 555px;
    position: relative;
    input {
      display: block;
      width: 100%;
      height: 55px;
      padding-left: 30px;
      padding-right: 120px;
      font-size: 15px;
      color: #747b86;
      border: none;
      border-radius: 30px;
    }
     button {
      position: absolute;
      background-color: $search;
      width: 110px;
      height: 55px;
      border-radius: 30px;
      right: -1px;
      top: 0;
      color: #ffff;
      font-size: 15px;
    }
  }
}
.breadcrumbs {
  margin: 35px 0 30px;
  text-align: center;
  .breadcrumbs__list li {
    display: inline-block;
    position: relative;
  }
  .breadcrumbs__list a {
    color: #fff;
  }
  .breadcrumbs__list li + li {
    padding-left: 25px;
  }
  .breadcrumbs__list li + li ::before {
    content: '/';
    position: absolute;
    color: #fff;
    left: 8px;
  }
  .breadcrumbs__list span {
    color: #bfcad7;
  }
}
.filter-bar {
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.filter__products {
  text-align: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  height: 100px;
  color: $text;
  @include f400;
  &-items {
    display: flex;
    margin-right: 230px;
  }
  &-items a {
    color: $text;
  }
  &-item {
    margin-right: 38px;
  }
  &-item.active {
    color: $search;
  }
  
}
.filter__price,
.filter__volume {
  height: 45px;
  width: 220px;
  border-radius: 3px;
  color: #747b86;
  font-size: 14px;
  border: 1px solid #eceff2;
  text-align: center;
  line-height: 32px;
  padding: 5px 45px 5px 15px;
  margin-right: 30px;
  position: relative;
  span {
    color: $text;
  }
}
.icon-bolt {
  position: absolute;
  cursor: pointer;
  right: 18px;
  background-color: transparent;
  top: 14px; 
  color: $text;
}
.filter__items-btn {
  display: flex;
  width: 100px;
  height: 45px;
  border-radius: 3px;
  color: #747b86;
  font-size: 14px;
  border: 1px solid #eceff2;
  text-align: center;
  line-height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  button + button {
    margin-left: 15px;
  }
}
.filter__items-btn button {
  color: $text;
  font-size: 16px;
  border: none;
  background-color: transparent;
  outline: none;
  &.active {
    color: $search;
  }
}
.product-page {
  background-color: rgb(239, 241, 245);
}
.product-page__inner {
  padding: 80px 0 115px;
  display: flex;
}
.product-page__aside {
  margin-right: 30px;
}
.aside__item {
  margin-bottom: 30px;
}
.aside__title {
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #e7ebee;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  position: relative;
  &::after {
    content: '\f107';
    position: absolute;
    right: 0;
    color: red;
    font-size: 15px;
    font-family: "icomoon";
  }
}
.category,
.price-range {
  width: 264px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #fff;
  padding: 30px;
}
 .category__list {
   padding-top: 10px;
   font-size: 15px;
  li {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    color: $text;
    &::before {
      content: '\f105';
      position: absolute;
      color: red;
      font-size: 15px;
      font-family: "icomoon";
      left: 0;
    }
    span {
      color: #747b86;
    }
  }
 }

// .aside__range {
  .price-range {
  text-align: center; 
    button {
      width: 140px;
      height: 44px;
      background-color: $search;
      font-size: 15px;
      color: #fff;
      border: none;
      border-radius: 30px;
      margin-bottom: 10px;
      margin-top: 70px;
    }
    form {
      padding-top: 15px;
    }
}
.irs-min,
.irs-max {
  display: none;
}
.irs--flat .irs-line {
  background-color: #efedf3;
  height: 6px;
}
.irs--flat .irs-bar {
  height: 6px;
  background-color: #7347c1;
}
.irs--flat .irs-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 4px solid $search;
  background-color: #fff;
  top: 19px;
}
.irs--flat .irs-handle > i:first-child {
  display: none;
}
.irs-from, .irs-to, .irs-single {
  top: 45px;
}
.irs--flat .irs-from::before, .irs--flat .irs-to::before, .irs--flat .irs-single::before {
  display: none;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  color: #7347c1;
  font-size: 15px;
  line-height: 15px;
  padding: 10px 23px;
  background-color: #f1ecf9;
  border-radius: 15px;
}



.product-page__content {
  width: 100%;
  .release__item {
    max-width: 260px;
    transition: all .5s;
  }
  .release__item-img {
    min-height: 160px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }
    .release__item-name a {
    font-size: 18px;
    @include f500;
  }
  .release__item-text {
    display: none;
  }
  .releas__item-contente {
    padding: 20px 20px 15px 20px;
  }
  .release__item-author {
    @include f400;
    color: #000;
  }
  .release__item-category-list,
  .release__item-star-list,
  .news__item-comments,
  .release__item-like,
  .product__item-price {
    display: none;
  }
  .release__item-info {
    margin: 0;
    padding: 15px 15px 15px 0px;
  }
  .release__item-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .jq-ry-container {
    padding: 0;
    font-size: 17px;
  }
  .release__item-data {
    padding: 15px 20px;
  }
  .release__item-price {
    font-size: 15px;
    @include f500;
  }
}
.product-page__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pagination {
  padding-top: 40px;
}
.pagination__list li {
  display: inline-block;
}
.pagination__list li + li {
  margin-left: 5px;
}
.pagination__list {
  text-align: right;
}
.pagination__list a, 
.pagination__list span {
  line-height: 70px;
  color: $text;
  display: flex;
  height: 38px;
  width: 50px;
  border-radius: 30px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}
.pagination__list a.active,
.pagination__list span.active {
  background-color: $search;
  color: #fff;
}
.icon-long-arrow-left::before, 
.icon-long-arrow-right::before {
  content: '\f177';
  color: #000;
}
.icon-long-arrow-left, 
.icon-long-arrow-right {
  transition: all .3s;
}
.icon-long-arrow-right:hover,
.icon-long-arrow-left:hover {
  background-color: #7347c1;
  color: #fff;
}
.icon-long-arrow-left {
  margin-right: 20px;
} 
.icon-long-arrow-right {
  margin-left: 20px;
}


.release__item{
  &.list {
    min-width: 100%;
    .release__item-img {
      width: 240px;
      float: left;
      min-height: 100%;
    }
    .releas__item-contente {
      display: -webkit-box;
    }
    .release__item-heading {
      max-width: 220px;
    }
    .release__item-text {
      display: block;
      width: 230px;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .release__item-info {
      width: 180px;
      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 25px;
      margin-right: 25px;
      display: block;
    }
    .release__item-block {
      width: 120px;
      display: block; 
      padding-top: 45px;
    }
    .release__item-data {
      display: none;
    }
    .release__item-category-list,
    .product__item-price {
      display: block;
    }
    .release__item-star-list {
      margin-top: 5px;
      span {
        margin-left: 10px;
      }
    }
    .release__item-like {
      margin-top: 18px;
      margin-bottom: 5px;
    }
    .icon-category {
      margin: 0;
    }
    .release__item-star {
      display: none;
    }
    .news__item-comments,
    .release__item-like {
      margin-left: 25px;
    }
    .release__item-star-list,
    .news__item-comments,
    .release__item-like{
      display: block;
      display: flex;
      align-items: center;
      color: #6f7d8d;
      font-size: 15px;
    }
    .release__item-basket {
      margin-top: 20px;
    }
  }
}
